/*@import url('https://fonts.googleapis.com/css?family=Abel');*/
@import url('https://fonts.googleapis.com/css?family=Lora');
body{
  font-family: 'Lora', serif;
  /*font-family: 'Abel', sans-serif;*/
  background-image: url("<?php echo base_url() ?>assets/images/desk.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  background-position: center;
}
h3, h2, h2{
  color: #ffffff;
}
.pb{
  padding-bottom: 30px;
}
.pt{
  padding-top: 30px;
}
.pl{
  padding-left: 0;
}
.pr{
  padding-right: 0;
}
.logo{
  border: 1px dashed orange;
}
li{
  text-decoration: none;
  list-style-type: none;
}
a{
  text-decoration: none;
  color: #000000;
}
a:hover{
  text-decoration: none;
}
.glass{
  padding: 0;
  height: 100vh;
  background-color: rgba(242,255,255, 0);
}
.nav{
  margin: 0 !important;
}
.navTop{
  padding: 45px;
  background-color: rgba(255, 255, 255, 255);
}
.sideBar{
  position: fixed;
}
img{
  width: 100%;
  height: auto;
}
.login, .register{
  padding: 0 !important;
}
.divInputs{
  padding: 0;
}
.inputs{
  background-color: rgba(255, 255, 255, 0.5) !important;
}
.buttons{
  border: 1px solid #000000;
  background-color: rgba(255, 255, 255, 0.5);
}
.logoutButton{
  background-color: rgba(242,255,255, 0);
}
.logoutButton:hover{
  color: purple;
}
